<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-xs-12 col-md-6">
      <app-diretiva-ng-if></app-diretiva-ng-if>
      <hr>
      <app-diretiva-ng-switch></app-diretiva-ng-switch>
      <hr>
      <app-diretiva-ng-for></app-diretiva-ng-for>
      <hr>
      <app-diretiva-ng-class></app-diretiva-ng-class>
      <hr>
      <app-diretiva-ng-style></app-diretiva-ng-style>
      <hr>
      <app-operador-elvis></app-operador-elvis>
      <hr>
      <app-exemplo-ng-content>
        <div class="title">Título do painel</div>
        <div class="corpo">Conteúdo do corpo</div>
      </app-exemplo-ng-content>
    </div>
  </div>
</div>