<h1>{{title}}</h1>
<hr>
<div class="col-md-6">
    <ul class="list-group">
        <li *ngFor="#car of cars" class="list-group-item" (click)="onSelect(car)">
            <span class="badge" [class.selected]="car === selectedCar">{{car.id}}</span>
            <p>{{car.brand}} - {{car.model}}</p>
        </li>
    </ul>
</div>
<style>
    .selected {
        background-color: red;
    }
    p{
        color: blue;
        text-decoration: underline;
        cursor: pointer;
    }
</style>