<h2>Diretiva NgIf</h2>
<section>
  <h3 class="text-warning">Usando *ngIf</h3>
  <div *ngIf="cursos.length > 0">
    <p class="text-primary">Cursos oferecidos:</p>
    <ul>
      <li *ngFor="let curso of cursos">{{curso}}</li>
    </ul>
  </div>
  <div *ngIf="cursos.length == 0">
    <p class="text-danger">Não existem cursos no momento.</p>
  </div>
</section>
<section>
  <button class="btn btn-success" (click)="onMostrarCursos()">Exibir Cursos</button>
  <br>
  <div *ngIf="mostrarCursos">
    <p class="text-primary">Cursos oferecidos:</p>
    <ul>
      <li *ngFor="let curso of cursos">{{curso}}</li>
    </ul>
  </div>
  <br>
  <div *ngIf="!mostrarCursos">
    <p class="bg-danger">Não existem cursos no momento.</p>
  </div>
</section>
<section>
  <h3 class="text-success">Usando a propriedade HTML5 hidden</h3>
  <div [hidden]="!mostrarCursos">
    <p class="text-primary">Cursos oferecidos:</p>
    <ul>
      <li *ngFor="let curso of cursos">{{curso}}</li>
    </ul>
  </div>
  <div [hidden]="mostrarCursos">
    <p class="bg-warning">Não existem cursos no momento.</p>
  </div>
</section>
<section>
  <h3 class="text-primary">Usando a *ngIf/Else</h3>
  <div *ngIf="mostrarCursos else templateElse">
    <p class="text-primary">Cursos oferecidos:</p>
    <ul>
      <li *ngFor="let curso of cursos">{{curso}}</li>
    </ul>
  </div>
  <ng-template #templateElse>
    <div>
      <p class="bg-warning">Não existem cursos no momento.</p>
    </div>
  </ng-template>
</section>
<h3>Removendo o * e usando o template</h3>
<section>
  <div template="ngIf mostrarCursos">
    <p class="text-primary">Cursos oferecidos:</p>
    <ul>
      <li *ngFor="let curso of cursos">{{curso}}</li>
    </ul>
  </div>
  <div template="ngIf !mostrarCursos">
    <p class="bg-warning">Não existem cursos no momento.</p>
  </div>

  <ng-template [ngIf]="mostrarCursos">
    <div>
      <p class="text-primary">Cursos oferecidos:</p>
      <ul>
        <li *ngFor="let curso of cursos">{{curso}}</li>
      </ul>
    </div>
  </ng-template>
  <ng-template [ngIf]="!mostrarCursos">
    <div>
      <p class="bg-warning">Não existem cursos no momento.</p>
    </div>
  </ng-template>
</section>