<div class="row">
  <div class="col-md-6 col-sm-12 col xs-12">
    <h3>*ngIf</h3>
    <div *ngIf="cursos.length > 0">
      <p class="text-primary">Cursos oferecidos:</p>
      <ul>
        <li *ngFor="let curso of cursos">{{curso}}</li>
      </ul>
    </div>
    <div *ngIf="cursos.length == 0">
      <p class="text-danger">Não existem cursos no momento.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-12 col xs-12">
    <button class="btn btn-success" (click)="onMostrarCursos()">Exibir Cursos</button>
    <br>
    <div *ngIf="mostrarCursos">
      <p class="text-primary">Cursos oferecidos:</p>
      <ul>
        <li *ngFor="let curso of cursos">{{curso}}</li>
      </ul>
    </div>
    <br>
    <div *ngIf="!mostrarCursos">
      <p class="bg-danger">Não existem cursos no momento.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-12 col xs-12">
    <h3>Usando a propriedade HTML5 hidden</h3>
    <div [hidden]="!mostrarCursos">
      <p class="text-primary">Cursos oferecidos:</p>
      <ul>
        <li *ngFor="let curso of cursos">{{curso}}</li>
      </ul>
    </div>
    <div [hidden]="mostrarCursos">
      <p class="bg-warning">Não existem cursos no momento.</p>
    </div>
  </div>
</div>