<div class="container-fluid">
    <app-data-binding></app-data-binding>
    <hr>
    <h1>Life Cycle-Hooks</h1>
    <div class="jumbotron">
        <app-ciclo [valor]="valor" *ngIf="!destruido"></app-ciclo>
        <button (click)="mudarValor()" class="btn btn-default">Alterar valor</button>
        <button (click)="criarComponente()" class="btn btn-success">Criar Componente</button>
        <button (click)="destruirComponente()" class="btn btn-danger">Destruir Componente</button>
    </div>
</div>